/* activities.css */
.activities-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }/* activities.css */


  .activities-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .activity-item {
    @apply bg-cardBackground;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure it takes full height */
    min-height: 400px; /* Set a minimum height to make the card longer */
  }
  
  .icon-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .icon {
    cursor: pointer;
    font-size: 24px;
    color: #007bff;
  }
  
  .icon:hover {
    color: #0056b3;
  }
  
  .activity-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

/* Add this to your CSS file */
.icon-blue {
  color: blue;
}

.itineraryAttributeHolder h3,span,p{
  @apply text-textOnCard;
}

.itineraryAttributeHolder p span {
  @apply text-white;
}